@import './_variables.scss';

.header {
    margin: 6rem auto 4rem;
    display: flex;
    justify-content: center;
    position: relative;

    align-items: center;
    flex-direction: column;
    user-select: none;
    pointer-events: none;

    // Plate decoration
    &::after {
        position: absolute;
        content: "";
        height: 10rem;
        width: 10rem;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        bottom: -3rem;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
        z-index: -1;
    }



    &-title {
        font-size: 3.5rem;
        font-family: $titleFont;
        color: $white;
        text-shadow: 2px 2px 2px $titleColorShadow;
        line-height: 2.2rem;

        // text-align: center;
        // width: 100%;
        // text-align: left;
        // color: $darkFontColor;
        // user-select: none;
    }
}