.nav {


    &-list {
        display: flex;
        justify-content: flex-end;


        &__link {
            padding: 0.3rem 0.5rem;
            margin: 0 0.3rem;
            text-decoration: none;
            color: $darkFontColor;
            font-family: $linkFont;

            &:hover {
                background: $darkFontColor;
                color: White;
            }
        }
    }

    margin-bottom:3rem;
}