// h1 {
//     display: block;
//     width: 100%;
//     text-transform: capitalize;
// }
@import './_variables.scss';

.page-header {
    // margin: 1.5rem 0;
    margin: 0 0 4rem 0;
    padding: 0 0 0 0;
    width: 100%;
    line-height: 2rem;

    .page-header-small {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 0;
        margin: 0;
        color: $decorColor;
    }
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.author-details-small {
    flex: 0 1 30%;
}

.post-list {
    flex: 1 1 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-small-img {
    height: 13rem;
    width: 100%;
    min-width: 250px;
    object-fit: cover;
    background-position: center;
}

.post-small-link {
    text-decoration: none;


    &:hover .post-small-title {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    &:hover .post-small-img {
        filter: contrast(1.1);
    }
}

.post-small-container {
    flex: 0 1 48%;
    // padding: 1rem;
    height: auto !important;
    padding: 0 1rem;
    margin-bottom: 5rem;
    // padding: 0 1.5rem 2rem 0;
}

.post-small-details {
    min-height: auto;
    padding: 0;
    border: none;
    font-size: 0.8rem;
    color: $black;
}

.post-small-title {
    text-decoration: none;
    font-size: 1.4rem;
    color: $darkColor;
    margin: 0.6rem 0 0 0;

}

.post-small-description {
    line-height: 1.3;
    font-size: 1rem;
}

.post-small-title,
.post-small-description {
    text-decoration: none;
    // text-align: center;
}

/*
.page-header {
    line-height: 4rem;
    text-transform: capitalize;
}

.post-list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: center;
    // align-items: stretch;
    // align-content: stretch;

    // margin: 3rem auto;
    a {
        color: $darkFontColor;
        text-decoration: none;
    }
}


.post-small {
    opacity: 0.9;
    // transition: opacity 0.3s, transform 0.4s;
    // overflow: hidden;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;

    }


    height: auto;

    &-container {
        flex: 0 1 50%;
        min-width: 400px;
        text-decoration: none;
        color: black;




        &.all-recipes-post:first-of-type {
            flex: 0 0 100%;
            max-width: 800px;
            margin: 1rem 0 2rem;

            .post-small {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                // justify-content: stretch;

                &::before {
                    content: "";
                    flex: 0 0 1.5rem;
                    // background: $color3;
                    border-left: $recipeBorderSize solid $color3;
                    border-top: $recipeBorderSize solid $color3;
                    border-bottom: $recipeBorderSize solid $color3;
                    height: 14rem;
                }

                .post-small-img {
                    flex: 1 1;
                    position: relative;


                }

                .post-small-details {
                    border: none;
                    // padding-bottom: 10%;

                    // background: linear-gradient(100deg, $color3, $darkFontColor);
                    flex: 1 1;
                    padding: 2rem;

                    height: 15rem;
                    border-right: $recipeBorderSize solid $color3;
                    border-top: $recipeBorderSize solid $color3;
                    border-bottom: $recipeBorderSize solid $color3;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    h2 {
                        position: relative;
                        font-family: serif;
                        font-weight: 900;

                        &::after {
                            content: "new!";
                            position: absolute;
                            top: -2rem;
                            left: 0rem;
                            color: $color3;
                            font-family: $titleFont;
                            font-weight: 100;
                            font-size: 2rem;
                            user-select: none;
                        }
                    }
                }
            }




        }

        &:hover {

            .post-small-details,
            .post-small::before {
                background: $color3;
            }

            h2,
            .post-small-description,
            h2::after {
                color: white !important;
            }

            img {
                box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.384);
            }
        }

        .post-small-details,
        .post-small::before {
            transition: background 0.3s;
        }

        h2,
        .post-small-description,
        h2::after {
            transition: color 0.3s;
        }
    }

    &-img {
        width: 100%;
        height: 16.5rem;
        display: block;
        object-fit: cover;
        background-position: center;
    }


    &-details {
        min-height: 10%;
        display: block;
        padding: 1rem 1rem;


    }

    &-title {
        font-size: 1.5rem;
    }

    &-description {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        color: rgb(70, 70, 70);
    }
}
*/