$darkFontColor: rgb(143, 19, 19);
$medFontColor: rgb(180, 49, 49);
$maxWidth: 1000px;
$lightBg: rgb(240, 240, 240);
$whiteBg:white;
$lightBorder: rgb(220, 220, 220);
$headerFont: serif;
$darkFontColor: #805c78;
$bgColor:#f7f1f5;
$color2: rgba(255, 255, 255, 0.575);
$color3: #d39fc8;


$headerFont: "Roboto Slab",
serif;
// $headerFont: 'monospace';
$titleFont: 'Kristi',
cursive;
$linkFont: 'Open Sans',
sans-serif;

$recipeBorderSize:0.15rem;