// @import url('https://fonts.googleapis.com/css2?family=Domine&family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Roboto+Slab:wght@300&family=Open+Sans:wght@300&display=swap');

.header {
    min-height: 10rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    &:after {
        display: block;
        width: 100%;
        height: 10px;
        background: black;
    }

    &-title {
        font-size: 3.4rem;
        font-family: 'Kristi', cursive;

        &:after {
            display: block;
            width: 100%;
            height: 10px;
            background: black;
        }

        // border-bottom: 1px solid black;


        line-height: 1;
        width: 80%;
        max-width: 1000px;
        text-align: center;
    }
}

* {
    // border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Text that shows up before article does
.loading-text {
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0;
    animation: fadeIn 1s linear infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 1;

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav {
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: center;

        &__link {
            display: inline-block;
            margin: 0.3rem;
            font-family: 'open sans', sans-serif;

            &-a {
                color: black;
                text-decoration: none;
                padding: 0.3rem;
                transition: all 0.1s;

                &:hover {
                    color: black;
                    text-shadow: 1px 1px 2px grey;
                    // text-decoration: underline;
                }
            }
        }
    }
}

.post-list {


    h1 {
        display: block;
        width: 100%;
        text-transform: capitalize;
    }

    width: 80%;
    max-width: 1336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 3rem auto;
}

.post-small-container {

    flex: 0 1 33%;
    padding: 1rem;
    margin: 0 0 1rem;


    text-decoration: none;
    color: black;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.9;

    }

}

body {
    min-height: 101vh;
}

.back-btn {
    flex: 100%;
    display: block;
    width: 100%;
}



.post-small {
    // animation: fadeIn 3s infinite;
    height: 37rem;
    width: 100%;
    display: block;

    &-img {
        width: 100%;
        height: 90%;
        display: block;

    }

    img {
        object-fit: cover;
        background-position: center;
    }

    &-details {
        min-height: 10%;
        display: block;
        padding: 0.6rem 1rem;
        border: 1px solid rgba(200, 200, 200, 1);
    }

    &-title {
        font-size: 1.4rem;
        text-align: left;
        // font-family: 'Domine', serif;


    }

    &-description {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: rgb(70, 70, 70);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
}

.loading {
    padding-top: 20vh;
    font-size: 5rem;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    animation: bounce 1s ease infinite;
    transform-origin: center;
}

@keyframes bounce {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.recipe-page {
    max-width: 1000px;
    margin: 2rem auto;
    // WHY DO I NEED PADDING:0 HERE????
    padding: 0;

    // YOUTUBE
    iframe {
        display: block;
        margin-bottom: 2rem;
    }

    &-title {
        font-size: 4rem;
    }

    blockquote {
        background: rgb(240, 240, 240);
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
        line-height: 1rem;
        display: flex;
        align-items: center;

        span {
            font-size: 3.4rem;

            padding: 1rem 1rem 0;
            font-family: serif;
            color: rgb(200, 200, 200);
        }

        &:before {
            // content: '❝';
            // color: rgb(220, 220, 220);
            // font-size: 3rem;
            // line-height: 1;

            // padding-top: 1rem;
        }
    }


}

.ingredients-list {
    padding: 1rem 3rem;
    border: 1px solid rgb(70, 70, 70);

    display: inline-block;

    &-header {

        margin-bottom: 1rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 2rem;

        &:before {
            content: "•";
            margin: 0 1rem 0 0;
        }
    }

    margin-bottom:3rem;
}

h2,
.ingredients-list-header {
    font-style: italic;
    font-size: 30px;
}

.recipe-page-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2rem 0;

    .recipe-page-img {
        flex: 0 1 75%;
    }

    .recipe-page-details__text {
        flex: 0 1 20%;

        border: 1px solid rgb(199, 199, 199);
        padding: 1rem;

        span {
            display: block;
            font-family: 'Open Sans', sans-serif;
        }

    }
}

@for $i from 1 through 10 {
    .steps div p:nth-of-type(#{$i}):before {
        content: '#{$i}.';
        margin: 0 1rem;
        // padding: 0 2rem;
    }
}

.steps {

    margin-bottom: 8rem;

    p {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
}

p {
    font-size: 1.3rem;
}

h2 {
    font-size: 2rem;
}


.bg-left {
    left: 0;
}

.bg-left,
.bg-right {
    top: 0;
    background: url('../../images/pattern.png');
    width: 8vw;
    height: 100vh;
    position: absolute;
}

.bg-right {
    right: 0;
}

.bg-right {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;


}

.bg-left {
    position: fixed;
    left: 0vw;
    top: 0;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
}