// @import url('https://fonts.googleapis.com/css2?family=Domine&family=Kristi&display=swap');
// @import './reset';
// @import './_variables';
@import './_header';
@import './_nav';
@import './_recipelist';
@import './_recipe';
@import './footer';
@import './responsive';

@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Roboto+Slab:wght@300&family=Open+Sans:wght@300?family=Antic+Slab&display=swap');

// ssd
// So scroll bar doesnt 'pop' into existence on page load
body {
    min-height: 101vh;
    background: $bgColor;
}

.nav,
.header,
.page-header,
.post-list {
    max-width: $maxWidth;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

// footer is not involved, .footer-content

h1,
h2,
h3 {
    // font-family: 'Antic Slab', serif !important;
    font-family: $headerFont;
}


.back-btn {
    background: none;
    padding: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0px;
    // color: $medFontColor;
    color: black;
    transition: width 1s;

    &:hover {
        background: $lightBg;
    }
}

.loading {
    padding-top: 20vh;
    font-size: 5rem;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    animation: bounce 1s ease infinite;
    transform-origin: center;
    min-height: 70vh;

}

main {
    min-height: 70vh;
}

* {
    // transition: 0.4s;
}


@keyframes bounce {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




.bg-left {
    left: 0;
}

.bg-left,
.bg-right {
    top: 0;
    background: url('../../images/pattern.webp');
    width: 8vw;
    height: 100vh;
    position: absolute;
}

.bg-right {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;


}

.bg-left {
    position: fixed;
    left: 0vw;
    top: 0;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%, $bgColor 85%, rgba(255, 255, 255, 0) 100%);
}